html {
    margin: 0;
    padding: 0;
}

button:hover {
    opacity: 0.8;
}

.main {
    height: 110vh;
    width: 100%;
    background-image: url(/images/background_img_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    /* position: relative; */
}

.main .box {
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    width: 100%;
}

header {
    padding: 0px 148px;
    height: 10%;
    margin: 0px 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

header img {
    height: 50%;
    width: auto;
}

header ul {
    display: flex;
    align-content: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
    height: 50%;


}

header ul li select {
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    font-weight: 600;
    color: white;
    height: 100%;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.5);
}

header ul li button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: white;
    height: 100%;
    width: 100px;


}




header ul li .sign_in {
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 0, 0, 0.8);
}


header ul li button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
    height: 100%;
    width: 100px;

}

header ul li .language {
    border: 1px solid gray;
    width: 120px;
    background-color: transparent;
    border-radius: 5px;
}

.main .content {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-bottom: 100px;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 800;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.main .content .input {
    display: flex;
    width: 40%;
    height: 50px;
    gap: 10px;
}

.main .content .input input {
    background-color: rgba(14, 13, 13, 0.7);
    border: 1px solid gray;
    border-radius: 5px;
    width: 60%;
    font-size: 1.1em;
    padding: 10px;
}

.main .content .input input::placeholder {
    color: rgba(255, 255, 255, 0.7);

}

.main .content .input .get_started {
    background-color: rgba(255, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
    width: 40%;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.main .content h1 {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 7px;
    width: 600px;
    font-family: unset;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.1;

}

.main .content p {
    font-size: 1.2em;
    margin-bottom: 10px;
    width: 30%;
    text-align: center;

}

.main .content h3 {
    font-size: 0.9em;
    margin-bottom: 20px;
    width: 40%;
    padding: auto;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .main {
        height: auto;
    }

    .box {
        height: auto;
    }

    main.content {
        /* box-sizing: border-box; */
        height: auto;
    }

    header {
        padding-top: 20px;
        flex-direction: column;
        row-gap: 60px;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    header ul {
        flex-direction: column;
        gap: 10px;
        margin: 0px;
        height: auto;
        width: auto;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    header img {
        margin: 70px 0px 0px 0px;
    }

    .main .content .input {
        margin-top: 20px;
        gap: 10px;
        flex-direction: column;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }

    .main .content .input .get_started {
        height: auto;
        width: auto;
    }

    .main .content h1 {
        font-size: 2em;
        text-align: center;
        width: auto;
    }

    .main .content p {
        font-size: 0.8em;


    }

    .main .content h3 {
        font-size: 0.5em;

    }
}

/*  syudgsudfewigfiewgfiewgfewailfeahi */


.container {
    padding: 0px 148px;
    box-sizing: border-box;
    height: auto;
    margin-top: -5px;
    width: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    flex-direction: column;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 600;
    justify-content: center;
    align-items: center;

}

.container .first {
    display: flex;
    margin-top: -20px;
    width: 100%;
    flex-direction: column;
    height: auto;
    align-self: start;
    margin-bottom: 64px;
}

.first h2 {
    font-size: 1.5em;
    font-weight: 600;
}

.first ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: visible;
    scrollbar-width: none;
}

.first ul li {
    flex: 0 0 250px;
    box-sizing: border-box;
    padding: 8px 20px;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.first ul li img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.first ul li img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
    .first ul li {
        flex: 0 0 200px;
        height: 250px;
    }

    .first {
        align-items: center;
        justify-content: start;
    }

    .first h2 {
        font-size: 1.2em;
    }

    .container {
        padding: 0px 20px;
    }
}

/* jsdilfueghrbhgviodrnyhiogtdhfogth4 */

.before_cont {
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    height: 6.25rem;
    z-index: 1;
}

.curve {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    left: -50%;
    width: 200%;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    border: solid 1.5rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.curve:before {
    width: 200%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -50%;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}


/* sudfavsukfanihe8tvb98iecfbigeyuirwoxhdnwgf */

.container .second {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.second h2 {
    color: white;
}

.second .boxes_container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;

}

.boxes_container .boxes {
    /* position: relative; */
    width: 50%;
    height: auto;
    border: 2px solid gray;
    padding: 0px 30px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    flex-direction: column;
    border-radius: 15px;
}

.boxes svg {
    align-self: flex-end;
}

.boxes h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.boxes p {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5;
}
@media screen and (max-width: 1000px) {
    .second .boxes_container {
        flex-direction: column;
        width: auto;
        height: auto;

    }
}

.third {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 50px;
}

.third .buttons button {
    display: flex;
    width: 250%;
    box-sizing: content-box;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 25px 20px;
    background-color: rgba(51, 51, 51, 0.8);
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    cursor: pointer;
    gap: 20px;
    margin-bottom: 10px;

}

.container .fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    width: 100%;
    height: auto;
    margin-top: 30px;

}

.fourth ul {
    display: flex;
    list-style: none;
    gap: 10px;
    /* padding-top: 16px; */
    width: 100%;
    height: auto;
    justify-content: flex-end;
    align-items: center;

}

.fourth ul li:nth-child(1) {
    height: 100%;
    width: 50%;
}

.fourth ul li:nth-child(2) {
    height: 100%;
    width: 40%;
}


.fourth ul li input {
    border-radius: 10px;
    width: 100%;
    border: 1px solid gray;
    background-color: transparent;
    caret-color: rgb(255, 255, 255);
    width: 100%;
    font-family: unset;
    font-size: 1rem;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.8rem 1rem 0.8rem;
    cursor: pointer;
    outline: none;
    appearance: none;

}

.fourth ul li input::placeholder {
    color: rgb(255, 255, 255);
    font-family: unset;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

}

.fourth ul li button {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 0, 0, 0.8);
    caret-color: rgb(255, 255, 255);
    width: 50%;
    font-family: unset;
    font-size: 1rem;
    box-sizing: border-box;
    font-weight: 700;
    color: white;
    padding: 0.8rem 1rem 0.8rem;
    cursor: pointer;
    line-height: 1.5;

}

.fourth h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: unset;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.footer {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 60px;
}

.footer-contact {
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
}

.footer-contact a {
    color: #666;
    text-decoration: underline;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-column {
    width: 22%;
    min-width: 120px;
    margin-bottom: 20px;
}

.footer-column a {
    display: block;
    color: #666;
    font-size: 14px;
    line-height: 2;
    text-decoration: underline;
    cursor: pointer;
}

.language-selector {
    margin-bottom: 20px;
}

select {
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    font-weight: 600;
    color: white;
    height: 40px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-bottom-text {
    font-size: 15px;
    color: #333;
    margin-top: 20px;
    line-height: 3.5;
}

.footer-bottom-text a {
    color: blue;
    font-size: 17px;
    text-decoration: underline;
}